@model ProductRecall.Models.RecallDetail

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>RecallDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecallId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecallId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecallTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecallTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecallDateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecallDateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecallDateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecallDateEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
